<include file="Public:header" />
<div class="pad-10" >
    <form id="myform" name="myform" action="" method="post" onsubmit="return check();">
    <div class="table-list">
    <table width="100%" cellspacing="0">
        <thead>
            <tr>
                <th width=50>ID</th>
                <th width=25><input type="checkbox" value="" id="check_box" onclick="selectall('id[]');"></th>               
                <th width=250>项目名称</th>
                <th width="250">创建时间</th>
                <th width="60">状态</th>
                <th width="60">排序</th>
        <th width="80">编辑</th>
            </tr>
        </thead>
      <tbody>
        <volist name="list" id="val" >
        <tr>       
      <td align="center">{$val.id}</td>   
            <td align="center">
             <input type="checkbox" value="{$val.id}" name="id[]">
      </td>           
            <td align="center">{$val.name}</td>
            <td align="center"><b>{$val.ctime|date="Y-m-d H:i:s",###}</b></td>
          <td align="center" id="status_{$val.id}"><img src="__IMG__/status_{$val.status}.gif" /></td>
          <td align="center">
          <input type="text" name="order" value="{$val.order}" style="width:50px" onblur="orders(this,{$val.id});" />
          </td>
      <td align="center"><a href="javascript:edit({$val.id})">编辑</a></td>
        </volist>
      </tbody>
    </table>

    <div class="btn">
      <label for="check_box" style="float:left;">{$Think.lang.select_all}/{$Think.lang.cancel}</label>
      <input type="submit" class="button"  value="{$Think.lang.delete}" onclick="return confirm('{$Think.lang.sure_delete}')" style="float:left;margin:0 10px 0 10px;"/>
      
      <div id="pages">{$page}</div>
    </div>

    </div>
    </form>
</div>
<script language="javascript">
function edit(id) {
  var lang_edit = "编辑";
  window.top.art.dialog({id:'edit'}).close();
  window.top.art.dialog({title:lang_edit,id:'edit',iframe:'__APP__/Admin/Project/edit/id/'+id,width:'480',height:'250'}, function(){var d = window.top.art.dialog({id:'edit'}).data.iframe;d.document.getElementById('dosubmit').click();return false;}, function(){window.top.art.dialog({id:'edit'}).close()});
}
function orders(ob,id){
  var val = $(ob).val();
  $.get("{:U('Project/setOrder')}",{order:val,id:id},function(result){
    if(result == false){
      alert('操作失败！');
    }
  });
}


</script>
</body>
</html>
