<include file="Public:header" />
<div class="pad_10">
    <form action="" method="post" name="myform" id="myform" >
        <input type="hidden" name="id" value="{$id}" />
        <table width="100%" cellpadding="2" cellspacing="1" class="table_form">
            <tr>
                <th>状态 :</th>
                <td><input type="radio" name="status" value="1" 
                    <if condition="$status eq 1"> checked</if>
                    >&nbsp;启用&nbsp;&nbsp;&nbsp; <input type="radio" name="status" value="0" 
                    <if condition="$status eq 0"> checked</if>
                    >&nbsp;禁用</td>
            </tr>
        </table>
        <input type="submit" id="dosubmit" class="dialog" value="">
    </form>
</div>
</body></html>